:root {
    --vanilla: #FFF8AD;
    --pink: #FF99CE;
    --light-blue: #8EE3FF;
    --dark-blue: #011936;
    --light-green: #86DB81;
    --light-gray: #E0DDE8;
}

body {
    color: var(--dark-blue);
    font-family: sans-serif;
}

.chunk-container {
    /* color: red; */
    min-height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    margin: .5em;

    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
}

button {
    background-color: var(--light-gray);
}